<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <!--Adding Navigation: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav--> 
</head>
<body>
    <!-- Header with Navigation -->
    <header class="bg-primary text-white p-3">
        <div class="container">
        <nav class="nav justify-content-center">
            <a class="nav-link text-white" href="/">Home</a>
            <a class="nav-link text-white" href="/about">About</a>
            <a class="nav-link text-white" href="/articles">Articles</a>
            <a class="nav-link text-white" href="/articles/add">Add Article</a> 
            <a class="nav-link text-white" href="/categories">Categories</a>
        </nav>
        </div>
    </header>
    <h1>About</h1>

    <p>Hello! I'm Elijah! The creator of this assignment.</p>

    <p>If you're attentive, I changed the content of this assignment to align with what is needed by the professor. Thanks to the professor's solution I was able to keep up with my classmates.</p>

    <p>This website will also not look good. I am a bad artist/web designer.</p> 
    
    <p>Everything in this assignment is created by me unless I stated, referenced it or it is in the assignment's instruction file.</p>

    <p>Anyway, Wish me luck!</p>

    <h2>References:</h2>
    
    <p>1. WEB222 Notes: <a href="https://web222.ca/">https://web222.ca/</a></p>

    <p>2. WEB322 Notes: <a href="https://webprogrammingtoolsandframeworks.sdds.ca/">https://webprogrammingtoolsandframeworks.sdds.ca/</a></p>

    <p>3. Assignment 2 Solutions by Harry Scanlan (Thanks Professor!)</p>

    <p>3. Assignment 4 Solutions by Harry Scanlan (Thanks Again Professor!)</p>
    <!--Adding Footer: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer--> 
    <footer>
        <small>
            Name: Elijah Alton Flores | Student Number: 106480239 | Email Address: eaflores1@myseneca.ca
        </small>
    </footer>
</body>
</html>